@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
	--font-vt323: 'VT323', 'monospace';
}

.prose a {
    text-decoration: underline;
}

.prose a:hover {
    color: #2563eb; /* Tailwind's blue-600 */
    text-decoration: underline;
	transition: 100ms;
}
